<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<!-- CSS  -->
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>MVC With Cats!</title>
	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery.js"></script>

</head>

<body>
	<div class="jumbotron">
		<img src="/assets/img/burger.svg" width="250px" height="250px" id="logo">
		<h2 class="display-3" id="title">Burger Bucket List</h2>
	</div>
	{{{ body }}}
</body>

</html>
